{% extends 'base.html.twig' %}

{% block title %}Edit Camion{% endblock %}

{% block body %}
    <h1>Edit Camion</h1>

    {{ include('camion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_camion_index') }}">back to list</a>

    {{ include('camion/_delete_form.html.twig') }}
{% endblock %}
