<form method="post" action="{{ path('app_don_delete', {'idDons': don.idDons}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ don.idDons) }}">
    <button class="btn">Delete</button>
</form>
