{% extends 'back.html.twig' %}

{% block title %}Edit Don{% endblock %}

{% block body %}
    <h1>Edit Don</h1>
<div style = "position:relative; left:500px; top:200px;">
    {{ include('don/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_don_index') }}">back to list</a>

    {{ include('don/_delete_form.html.twig') }}
{% endblock %}
