{% extends 'client/base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}

<div style = "position:relative; left:350px; top:200px;">
    <h1>Edit Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_post_front') }}">back to list</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
