{% extends 'client/base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
<div style="position:relative; left:350px; top:20px; background-color:#66CDAA; padding:20px;">


<div style="background-color: #c5e1a5; bg-success">
    <div style="text-align: center;">
        <h1>Edit Post</h1>
    </div>

    <div style="max-width: 500px; margin: auto;">
        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
        <br>
        <a href="{{ path('app_post_front') }}" class="btn btn-secondary">Back to List</a>
        {{ include('post/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
