{% extends 'client/base.html.twig' %}

{% block title %}New Signalisation{% endblock %}
{% block signal %}<a class="nav-link scrollto " href="{{path('app_signalisation_index')}}">Signalisation</a>{% endblock %}
{% block main %}

  
    <h1>Create new Signalisation</h1>
    
    {{ include('signalisation/_form.html.twig') }}

   


{% endblock %}
